input[type="text"], input[type="password"] {
  width: 30em;
  margin: 1em;
}

.preview {
  text-align: left;
  background-color: dodgerblue;
  color: white;
  padding: 1em;
  margin: 1em;
}

.preview p {
  margin: 0.5em;
}

.highlight {
  background-color: darkturquoise;
  padding: 0.3em;
  font-size: 0.8em;
  color: purple;
}